


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="userdashboard">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="userdashboard">ViewTask <span class="navbar-toggler-icon"></span></a>
        </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="task-detail">CreateTask <span class="navbar-toggler-icon"></span></a>
          </li>
          </ul>
      </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="login">Logout <span class="sr-only"></span></a>
          </li>
          
         
          
        </ul>
        
      </div>
  </nav>
<div class="container-fluid  head-bg">

    <div class="fw-bold text-center  container-fluid p-0 m-0 form-group pb-2">

        <input type="text" class="form-control"

    [(ngModel)]="searchText" placeholder="Enter text to search" >

    </div>

</div>
 <h2>Task Details</h2>
 <table class="table table-dark table-striped">
    <thead>
     <tr>
        <th>Task Name</th>
        <th>Task id</th>
        <th>task_Status</th>
        <th>start time</th>
        <th>end time</th>
        <th>created_Date</th>
        <th>approval_Status</th>
        <th>assigned_Manager</th>
        <th>task_Description</th>
        <th>Delete Option</th>
        <th>Edit Option</th>
     </tr>
    </thead>
    
    
    <tbody>
    <tr *ngFor="let item of tasklist | pipe: searchText ; index as i">
        <td>{{item.task_name}}</td>
        <td>{{item.task_id}}</td>
        <td>{{item.task_status}}</td>
        <td>{{item.start_Time}}</td>
        <td>{{item.end_Time }}</td>
        <td>{{item.created_Date}}</td>
        <td>{{item.approval_Status}}</td>
        <td>{{item.assigned_Manager}}</td>
        <td>{{item.task_Description}}</td>
       <td><button type="submit"  class="btn btn-danger" (click)="deleteuser(item)">delete</button></td>
        <td><button type="submit" class="btn btn-primary" 
        (click)="edit(item)">Edit</button></td>

        <!-- <button type="button" class="btn btn-warning ms-1" data-bs-toggle="modal"
                        data-bs-target="#exampleModal1" (click)="edit(dataItem.TaskId)">

                        Update
                    </button> -->
        
    </tr>
</tbody>
 </table>
 <!--Popup Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">USER REGISTRATION</h5> -->
  <!--Close Button-->
  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body"> -->
  <!--User Registration Form-->
  <form #updateForm="ngForm" (ngSubmit)="updateuser()">
  
  
  
  <div class="form-group">
  <label>Task Name</label>
  <input type="text" name="task_name" class="form-control" #task_name [(ngModel)]="UserValue.task_name" required>
  </div>

  <div class="form-group">
    <label>Task id</label>
    <input type="text" name="task_id" class="form-control" #task_id [(ngModel)]="UserValue.task_id" required>
    </div>
  
  <div class="form-group">
  <label>Task Status</label>
  <input type="text" name="task_status" class="form-control" #task_status pattern="^[A-Za-z][A-Za-z ]+$" [(ngModel)]="UserValue.task_status" required>
  </div>
  
  <div class="form-group">
  <label>Start Time</label>
  <input type="time" name="start_Time" class="form-control" #start_Time [(ngModel)]="UserValue.start_Time" required>
  </div>
  
  <div class="form-group">
  <label>End Time</label>
  <input type="time" name="end_Time" class="form-control" #end_Time [(ngModel)]="UserValue.end_Time" required>
  </div>
  
  <div class="form-group">
  <label>Created Date</label>
  <input type="date" name="created_Date" class="form-control" #created_Date [(ngModel)]="UserValue.created_Date" required>
  </div>
  
  <div class="form-group">
  <label>Approval Status</label>
  <input type="text" name="approval_Status" class="form-control" #approval_Status [(ngModel)]="UserValue.approval_Status" required>
  </div>
  
  <div class="form-group">
  <label>Assigned Manager</label>
  <input type="text" name="assigned_Manager" class="form-control" #assigned_Manager [(ngModel)]="UserValue.assigned_Manager" required>
  </div>
  
  <div class="form-group">
  <label>Task Description</label>
  <input type="text" name="task_Description" class="form-control" #task_Description [(ngModel)]="UserValue.task_Description" required>
  </div>
  
  <div class="form-group">
  <input type="submit" value="Update" class="btn btn-primary w-100">
  </div>
  
  </form>
  
  
  
  
  
