<!-- <form action="" class="row  g-4 px-5 py-1" #taskForms="ngForm" (ngSubmit)="onSubmits(taskForms)"> -->
    <!-- succes tag -->
    <!-- <p class="text-success fw-bold fs-3"></p> -->
    <!-- name -->
    <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label class="fw-bold mb-1 ps-1">Task Name</label>
        <input type="text" class="form-control " name="TaskName" [(ngModel)]="dataById.TaskName"
            #TaskName="ngModel" pattern="[a-zA-Z ]+$" required ngModel>
        <small class="text-danger justify-content-left"
            *ngIf="TaskName.invalid && TaskName.touched">Please enter a valid
            Task name.</small>
    </div> -->
    <!-- Status -->
    <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label class="fw-bold mb-1 ps-1">Status</label>
        <input type="text" class="form-control " name="Status" [(ngModel)]="dataById.Status"
            #Status="ngModel" pattern="[a-zA-Z ]+$" required ngModel>
        <small class="text-danger justify-content-left"
            *ngIf="Status.invalid && Status.touched">Please enter a
            valid
            Status.</small>
    </div> -->
    <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label class="fw-bold mb-1 ps-1">Status</label>
        <div class="form-control">
            <label class="radio-inline mx-1">
                <input type="radio" name="Status" value="Completed" [(ngModel)]="dataById.Status"
                    ngModel>
                Completed
            </label>
            <label class="radio-inline mx-1">
                <input type="radio" name="Status" value="In Progress" [(ngModel)]="dataById.Status"
                    ngModel>
                In Progress
            </label>
        </div>
    </div> -->
    <!-- StartTime -->
    <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label class="fw-bold mb-1 ps-1">Start Time </label>
        <p class=" mb-1 ps-1 ">Date : {{dataById.StartTime | date:'fullDate'}} Time :
            {{dataById.StartTime | date:'shortTime'}}</p>
        <input type="datetime-local" class="form-control " [(ngModel)]="dataById.StartTime"
            name="StartTime" #StartTime="ngModel" required ngModel>
        <small class="text-danger justify-content-left"
            *ngIf="StartTime.invalid && StartTime.touched">Please enter a
            valid
            date and time.</small>
    </div> -->
    <!-- EndTime -->
    <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label class="fw-bold mb-1 ps-1">End Time </label>
        <p class=" mb-1 ps-1 ">Date : {{dataById.EndTime | date:'fullDate'}} Time :
            {{dataById.EndTime | date:'shortTime'}}</p>
        <input type="datetime-local" class="form-control " [(ngModel)]="dataById.EndTime"
            name="EndTime" #EndTime="ngModel" required ngModel>
        <small class="text-danger justify-content-left"
            *ngIf="EndTime.invalid && EndTime.touched">Please enter a
            valid
            date and time.</small>
    </div> -->
    <!-- CreatedDate -->
    <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12 ">
        <label class="fw-bold mb-1 ps-1">Created Date</label>
        <input type="date" class="form-control " name="CreatedDate"
            [(ngModel)]="dataById.CreatedDate" #CreatedDate="ngModel" required ngModel>
        <small class="text-danger justify-content-left"
            *ngIf="CreatedDate.invalid && CreatedDate.touched">Please enter a
            valid
            Date.</small>
    </div> -->
    <!-- Description -->
    <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12">
        <label class="fw-bold mb-1 ps-1">Description</label>
        <textarea type="text" class="form-control " [(ngModel)]="dataById.Description"
            name="Description" #Description="ngModel" required ngModel></textarea>
        <small class="text-danger justify-content-left"
            *ngIf="Description.invalid && Description.touched">Please enter a
            valid
            Description.</small>
    </div> -->


    <!-- save button and cancel button -->
    <!-- <div class="col-12 ">
        <button class="btn btn-success" style="width: 100px" type="submit"
            [class.disabled]="taskForms.invalid " data-bs-dismiss="modal"
            aria-label="Close">Save</button>
        <button class="btn btn-danger ms-3" style="width: 100px"
            (click)="cancel(taskForms)">Cancel</button>
    </div>
</form> -->
